* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a {
  color: #f3f7fe;
  text-align: center;
}
header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.button {
  margin: 0 30px;
  font-family: monospace;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
.button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
input {
  width: 235px;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 20px;
}
input::placeholder {
  text-align: center;
}
#container {
  width: 100%;
  height: auto;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  margin: 20px;
  width: 220px;
  height: 300px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
